*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    margin-top: 60px;
    text-align: center;
    font-weight: 700;
}
.question{
    background-color: rgb(220, 108, 59);
    margin-top: 40px;
    color: white;
    padding: 20px 400px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(96, 95, 95);
    margin-bottom: 20px;
    font-size: 1.3rem;
}
#options{
    
    display: flex;
    background-color: #a1a1a1;
    width: 50%;
    border-radius: 8px;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
}
#options button{
    display: block;
    width: 80%;
    height: 40px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 10px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
}
.button-div{
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: flex-end;
}
.button{
    display: inline-block;
    background-color: #0084ff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#score {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }